/* === BRAND COLORS === */

$blue: #113b56;
$white: #ffffff;
$yellow: #e8ac1c;
$green: #2bae67;
$dark-gray: #424a53;
$mid-gray: #565d66;
$light-gray: #AAB2BB;
$red: #e95747;
$purple: #653e92;
$light-blue: #30aae3;



.navigation-wrapper:after {
  content: "";
  background-color: #113b56;
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
}

.navbar-mm {
  background-color: #113b56;
  border: none;
}

.navbar-mm .nav {

  li a {
    color: #eee;
    line-height: 28px;
    padding: 16px 25px;
  }
}

.collapse.navbar-collapse, .navbar-nav{
  background: $blue;
  overflow: visible;
}

.navbar-mm .nav li a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar-form.navbar-left {
    float: none!important;
  }
}


.navbar-default .navbar-nav > 
.active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #0D2C41;
}

.navigation-wrapper .input-group {
  padding: 10px 0;
}

.nav-logo {
  line-height: 2em;
}

.search-box {
  height: 33px;
}

.page-title {
  /*border-bottom: 1px solid lighten($light-gray, 15%);*/
/*  padding-bottom: 20px;
  margin-bottom: 30px;*/
  margin-top: 0px;
}

.page-wrapper {
  padding-top: 10px;
}

.side-nav {
  border-left: 1px solid lighten($light-gray, 15%);
  padding: 0 20px 10px; 

  ul {
    padding-left: 0;

    li {

      list-style: none;
      a {
        padding: 5px 10px;
        display: block;
        color: $light-gray;
        text-transform: uppercase;
        font-weight: bold;


        &:hover {
          color: $dark-gray;
          text-decoration: none;
        };

      }
    }

    li ul {
      padding-left: 10px;

      li a {
        text-transform: none;
        font-weight: normal;
      }
    }
  }

  .active {
    >a { 
      font-weight: bold;
      color: $dark-gray;
    }
  }
}